[submodule "STLPRNet"]
	path = STLPRNet
	url = https://github.com/kwon-evan/STLPRNet
[submodule "sort"]
	path = sort
	url = https://github.com/abewley/sort
[submodule "yolov7"]
	path = yolov7
	url = https://github.com/WongKinYiu/yolov7/tree/main
